<% provide(:title) %>
<div class="center hero-unit">
  <h1>Members Only</h1>

  <h2>
    Rolled out authentication.
  </h2>


With <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
